<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'log_reg_app/css/success_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h2>Success! Welcome, {{first_name}}!</h2>
            <p>Successfully registered (or logged in)!</p>
            <!-- <input type="hidden" name="user_id" value="{{user_id}}">  -->
        </div>
        <div class="right">
            <a href="/logout">Log Out</a>
        </div>
    </div>
</body>
</html>