* {margin: 0px; padding: 0px;}
div.left { width: 400px; height: 100px; display: inline-block; margin-top: 50px; vertical-align: top; padding-left: 50px;}
div.right {width: 300px; height: 100px; display: inline-block; margin-left: 300px; margin-top: 100px;}
h2 {margin-top: 50px;}
a {margin-top: 50px;}
p {color: green; margin-top: 40px;}
